/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700&display=swap'); */

@font-face {
  font-family: 'Le Murmure';
  src: url('../LeMurmure-Regular.woff');
}

@font-face {
  font-family: "Poppins";
  src: url("../Poppins-Regular.woff2") format("woff");
}

:root {
  --white-low-opacity: #ffffffda;
  --light-purple: #FEF6FF;
  --yellow: #FFE141;
  --white: #fff;
  --black: #000;
  --purple: #F7C3FF;

  --star: #000000;
  --tag: #000;
  --infos: #fef6fff1;
  --voirplus: #000;
  --contact: #F7C3FF;
  --trueblack: #000;
}

[data-theme="dark"] {
  --white-low-opacity: #252126eb;
  --light-purple: #39363a;
  --yellow: #efd53f;
  --white: #252126;
  --black: #fff3ff;
  --purple: #252126;

  --star: #39363a;
  --tag: #252126;
  --infos: #39363af6;
  --voirplus: #F7C3FF;
  --contact: #2c292c;
  --trueblack: #000;
}

.svg path {
  fill: var(--black);
}

.button path {
  fill: var(--black);
}

* {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
  scroll-margin-top: 70px;

}

div#project-link {
  position: fixed;
  bottom: 150px;
  right: 60px;
  width: 150px;
  background-color: var(--light-purple);
  border-radius: 50px;
  padding: 5px 20px;

  display: flex;
  align-items: center;
  z-index: 5;
  transition: 0.3s;
}

div#project-link:hover {
  background-color: var(--yellow);
  transition: 0.3s;
  scale: 1.05;
}

div#project-link:hover a {
  color: var(--trueblack);
  transition: 0.3s;
}

div#project-link:hover svg path {
  fill: var(--trueblack);
  transition: 0.3s;
}

div#project-link svg {
  rotate: 90deg;
  animation: arrow 1s ease-in-out infinite;
  width: 45px;
  margin-left: 10px;
}

@keyframes arrow {

  0%,
  100% {
    transform: translate(0, 0) rotate(45deg);
  }

  50% {
    transform: translate(-10px, -10px) rotate(45deg);
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
}

h2 {
  font-family: 'Le Murmure', sans-serif;
  font-size: 8.15em;
  margin: 0 0 20px 0;
}

h2:not(h2.projet-titre){
  margin-top: 250px;
}

a {
  text-decoration: none;
}

span#progress-value span {
  background-color: var(--white);
  border-radius: 50px;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

div#projects{
  margin: 0;
  padding: 0;
  margin-top: 250px;
}

span#progress-value {
  height: 60px;
  width: 60px;
  position: fixed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 68px;
  right: 60px;
}

div#root {
  padding-top: 6px !important;
  overflow: hidden;
}

/* Arrêter toutes les animations */
@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

/* Si les couleurs sont inversées, ne pas inverser celles des photos et vidéos */
@media (inverted-colors) {

  img,
  video {
    filter: invert(100%);
  }
}

/*Page Transition*/
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  /* Couleur de fond */
  z-index: 9999;
  /* Assurez-vous que l'animation est au-dessus de tout le reste */
  transform-origin: top;
}